@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
